@model IEnumerable<WebApp.Models.UserModel>

@{
    ViewBag.Title = "Index";
}

<h2>Пользователи</h2>

<p>
    @Html.ActionLink("Добавить пользователя", "Add")
</p>
<table class="table table-hover table-bordered">
    <tr>
        <th>Изображение</th>
        <th>
            Имя
        </th>
        <th>
            Дата рождения
        </th>
        <th>
            Возраст
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img src="@Url.Action("GetImage", new {userId = item.Id})"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.ActionLink("Подробнее", "Get", new { userId = item.Id })
        </td>
        <td>
            @Html.ActionLink("Редактировать", "Edit", new { userId = item.Id })
        </td>
        <td>
            @Html.ActionLink("Удалить", "Remove", new { userId = item.Id })
        </td>
    </tr>
}

</table>
